[worker]
keep_alive = True

[core]
log_level=DEBUG
default_scheduler_host=infrastructure-scheduler-luigi-scheduler
default_scheduler_port=80
default_scheduler_url=http://infrastructure-scheduler-luigi-scheduler:80/
rpc_connect_timeout=60


[retcode]
# The following return codes are the recommended exit codes for Luigi
# They are in increasing level of severity (for most applications)
already_running=10
missing_data=20
not_run=25
task_failed=30
scheduling_error=35
unhandled_exception=40

[scheduler]
retry_delay=900

[luigi_monitor]
slack_url= <>
max_print=10
username= Luigi-Slack-Bot